version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    volumes:
      - .:/code
      - static_files:/code/staticfiles
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_NAME=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - postgres
    networks:
      - internal

  postgres:
    image: postgres:13
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - internal
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U food_guide"]
      interval: 10s
      timeout: 5s
      retries: 5
  nginx:
    image: nginx:1.27
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_files:/code/staticfiles
    depends_on:
      - backend
    networks:
      - internal
    healthcheck:
      test: [ "CMD-SHELL", "curl --silent --fail localhost:80/health-check || exit 1" ]
      interval: 10s
      timeout: 10s
      retries: 3

volumes:
  postgres_data: {}
  static_files: {}

networks:
  internal:
