.landing-page-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.image-container img {
    max-width: 80%;
    height: auto;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 50px;
}

.content-container h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
